<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="auth.isAuthentificated()">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="../assets/img/logo.png" >
        </a>
    
        <a role="button" (click)=" BarBurgerToggle()" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" [class.is-active]="isActiveNavBarBurger" class="navbar-menu" > <!-- is-active -->

        <div class="navbar-start">
          <a routerLink="" routerLinkActive="has-background-white-ter" [routerLinkActiveOptions]="{exact:true}" class="navbar-item"><span class="material-symbols-outlined">dashboard</span>Dashboard</a> <!--has-background-white-ter // active style-->
          <a routerLink="/add-shipment" routerLinkActive="has-background-white-ter" class="navbar-item"><span class="material-symbols-outlined">add_box</span>Add shipment</a>
          <a routerLink="/create-point" routerLinkActive="has-background-white-ter" class="navbar-item"><span class="material-symbols-outlined">factory</span>Create point</a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
              <div class="buttons">
                  <button class="button is-danger is-light" (click)="auth.logOut()">Log out</button>
                </div>
                  </div>
        </div>
      </div>
    </nav>


  <section class="section">
    <router-outlet></router-outlet>
  </section>
      



  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Thanks for Bulma</strong> to <a href="https://jgthms.com">Jeremy Thomas</a>. 
        </p>
      </div>
    </footer>
</div>







