

<h1 class="title">Current shipments</h1>
<div class="buttons">
    <button class="button is-info is-light " (click)="ngOnInit()"><span class="material-symbols-outlined">refresh</span>Refresh data</button>
  </div>
<div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr class="has-background-primary-light has-text-weight-bold">
                <td>Shipment</td>
                <td>Loading adress</td>
                <td>Uploading adress</td>
                <td>Loading Time</td>
                <td>Uploading Time</td>
                <td>Status</td>
                <td>Driver</td>
                <td>Comment</td>
                <td class="has-text-centered"><span class="material-symbols-outlined">settings</span></td>
              </tr>
          </thead>
          
          <tbody>
            
            <tr class="" *ngFor="let shipment of shipments">
              <td>{{shipment.shipment}}</td>
              <td>{{shipment.adress_loading}}</td>
              <td>{{shipment.adress_uploading}}</td>
              <td>{{shipment.time_loading*1000 | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>{{shipment.time_uploading*1000 | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td style="min-width: 250px;">{{shipment.status}}</td>
              <td style="min-width: 300px;">
                {{shipment.driver}} 


                <form *ngIf="!shipment.driver" [formGroup]="form" (ngSubmit)="appoint()">
                  <div class="field has-addons has-addons-right" >
                    <p class="control">
                      <span class="select ">
                        <select formControlName="driver" >
                          <option *ngIf="users" value="null" selected>Choose a vacant driver</option>
                          <option *ngIf="!users" value="null" selected>No vacant driver</option>
                          <option *ngFor="let driver of users" [value]="[driver.user_id, shipment.shipment, driver.full_name]">{{driver.full_name}}; truck plates {{driver.truck}}</option>
                        </select>
                      </span>
                    </p>
                    <p class="control">
                      <a><button class="button is-primary" type="submit">Done</button></a>
                    </p>
                  </div>
                </form>



              </td>
              <td>{{shipment.comment}}</td>
              <td class="is-align-content-center"><div class="buttons" >
                <button class="button is-warning is-light is-small"><span class="material-symbols-outlined">edit</span>Edit</button>
                <button class="button is-danger is-light is-small "><span class="material-symbols-outlined">delete</span>Delete</button>
                <button class="button is-info is-light is-small" (click)="showPhotos = shipment.shipment"><span class="material-symbols-outlined">image</span>Photos</button>
              </div>
            </td>
            </tr>
        
    </table>
  </div>

  <app-show-photos [shipment]="showPhotos" *ngIf="showPhotos" (skip)="skip()"></app-show-photos>

